
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.background {
    background-color: black;
    display: flex;
    min-height: 100vh;
    position: relative;

}

h1,h2,p,.member p,h3 {
    color: white;
}

.background h1{
    position: absolute;
    top: 40px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 70px;
    -webkit-text-stroke: 1.5px rgb(0, 90, 19);
}

.background::before{
    content: "";
    position: absolute;
    background-image: url(../images/splash-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    inset: 0;
    opacity: 0.5;
}

.mission {
    position: absolute;
    margin: auto;
    margin-top: 160px;
    left: 0;
    right: 0;
    text-align: center;  
}

p {
    margin:0 10%;
}

.team-members {
    background-color: rgb(255, 255, 255);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    width: 100vw;
    height: 200px;
    bottom: 0;
    margin-top: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-members #member-img_1, 
.team-members #member-img_2, 
.team-members #member-img_3, 
.team-members #member-img_4 {
    width: 135px;
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 0 150px 400px 0 rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.member {
    background-color: rgb(0, 0, 0);
    width: 221px;
    height: 200px;
    align-items: center;
    text-align: center;
}

.member p , 
.team-members #member-img_1, 
.team-members #member-img_2, 
.team-members #member-img_3, 
.team-members #member-img_4  {
    opacity: 0.99;
}

#name_1, #name_2, #name_3, #name_4 {
    font-weight: 700;
}

.loading {
    position: absolute;
    margin: auto;
    width: 310px;
    height: auto;
    margin-top: 500px;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 70px;
}

#loader-gif {
    width: 150px; 
    margin-bottom: 0;  
}

.loading p {
    margin-top: -40px;
    font-size: 30px;
    font-weight: 600;
}