body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(26, 157, 26);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.select-items,
.order-summary {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
}

.order-summary{
    height: 550px;
}

.select-items h2,
.order-summary h2 {
    border-bottom: 2px solid darkgreen;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: rgb(7, 95, 43);
    color: #f0f0f0;
    font-size: 20px;
    font-weight: medium;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: rgb(37, 141, 245);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .select-items,
    .order-summary {
        width: 100%;
        margin-bottom: 20px;
    }
}
