.font {
    text-align: center;

}
body {
    background-color: #83f099;
    font-family: "poppins", sans-serif;
}

#cart {
    float: right;
    background-color: rgb(0, 79, 20);
    color: aliceblue;
    margin-right: 30px;  
    font-size: 30px; 
    position: fixed; 
    right: 0;
    top: 30px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
}

#cart:hover {
    background-color: rgb(0, 0, 0);
    color: #00ff00;
}

.img {
    border-radius: 6px;
}

.box {
    /* background-color: rgb(255, 255, 255); */
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em 1em;
    margin: 0 auto;
    height: 800px; /* You may want to adjust this value based on your content */
    width: 80%;
    position: relative; /* Set the position to relative */
}

.product-name {
    text-align: center;
}

.price {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin-top: 1px;
    padding-bottom: 10px;
}

.footer {
    background-color: aqua;
    width: 100%; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    position: absolute; /* Set the position to absolute */
    top: calc(800px + 80px + 20px); /* Place the footer below the box div */
    left: 0; /* Align to the left */
}

#quantity {
    width: 30px;
}

.quantity-text-box {
    display: inline-block;
}

#add-to-cart {
    margin-top: 10px;
    text-align: center;
}

.product {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;  
    transition-duration: 0.5s;
}

.product:hover {
    transform: scale(1.1); /* Scale the product by 10% on hover */
}

/* cart pop up window */

/* Add these styles to your existing style.css file */
.cart-popup {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    background-color: #fff;
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
}

.cart-popup.minimized {
    transform: translate(200%, -50%);
}

#cart-header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: right;
}

#minimize-button {
    cursor: pointer;
    font-size: 20px;
}

.cart-content {
    padding: 10px;
    overflow-y: auto;
}
