*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /*background: linear-gradient(
        135deg,
        #8052ec,
        #d161ff
    );*/
  background-image: url("/images/ImageForUserProfile1.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  border: 2px solid white;
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
}



#inputDescription {
  font-family: "poppins", sans-serif;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}

#newtask {
  background-color: white;
  padding: 20px 20px 25px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input {
  width: 70%;
  width: 70%;
  height: 45px;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}

#newtask input:focus {
  outline: none;
  border-color: #8052ec;
}

#add  {
  float: right;
  width: 25%;
  height: 45px;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  margin-bottom: 12px;
  font-weight: 500;
  position: relative;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #0c5d11;
  color: #ffffff;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between; 

}

#next, #skip, #previous {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 25%;
  height: 45px;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  margin-right: 56px;
  font-weight: 500;
  position: relative;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  background-color: #83f099;
  color: #000000;
  cursor: pointer;
  box-sizing: border-box;
}

.bx-skip-previous{
  font-size: 25px;
  margin-right: 1px; 
}

.bx-skip-next {
  font-size: 25px;
  margin-left: 3px; 
}



#next:last-child, #skip:last-child, #previous:last-child {
  margin-right: 0;
}




#tasks {
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: relative;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
