@media screen and (max-width : 720px) {

    .MissionOverlay {
        position: absolute ;
        top: 36%;
        left: 11%;;
        background-color: white;
        width: 70%;
        height: 34%;
        padding: 20px;
        border-radius: 10px;
        opacity: 0.8;
    
    }
    
    .Mission{
        font-family: Georgia, 'Times New Roman', Times, serif ;
        font-size: 30px;
        color: black;
        text-align: center;
        font-weight: 900;
    
    }
    
    .content{
        margin-top: 10%;
        font-family: "poppins" , sans-serif;
        font-size: 15px ;
        color: rgb(0, 3, 37);
        font-weight: 450;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .backgroundCon video {
        position: absolute ;
        top: 80%;
        width: 80%;
        height: 40%;
        border-radius: 10px;
        background-color: transparent;
        padding: 0;
        left: 11% ;
    
    }

    .card{
        position: fixed;
        top: 0;
        left: 0;
        height: 110%;
        width: 100%;
        opacity: 0.8; 
        background-position: center;  
        background-size: cover;
        z-index: -1;
    }
    
    .card img {
        position: absolute;
        width: 200%;
        height: 105%;
        display: block;
    }

    .firstOverlay{
        position: absolute ;
        top: 13%;
        left: 10%;
        background-color: rgb(255, 255, 255);
        width: 70%;
        height: 18%;
        padding: 20px;
        border-radius: 10px;
        opacity: 0.7;
    
    }
    
    .heddingText { 
        padding-top: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        color: rgb(0, 0, 0);
        text-align: center;
        font-weight: 900;
    
    }
    
    .qoute{
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 8%;
        font-size: 20px;
    }
    
    .targets{
        position: absolute ;
        top: 170%;
        left: 52%;
        transform: translate(-50%,-50%);
        background-color: white;
        width: 85%;
        height: 79%;
        padding: 5px;
        border-radius: 10px;
        opacity: 0.8;
    }
    
    .targetTxt{
        text-align: center;
        font-weight: 700;
        font-size: 40px;
    }
    
    .target1,
    .target2,
    .target3,
    .target4{
        text-decoration: underline;
        color: white;
        opacity: 1;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 15px;
    }
    
    .target1content,
    .target2content,
    .target3content,
    .target4content{
        font-size: 12px;
        margin-top: 6%;
        color: white;
        opacity: 1;
    
    }
    
    .target1content,
    .target3content {
        margin-top: 40%;
    }
    
    .t1 , .t2 ,.t3 ,.t4 {
        background-color: black;
        opacity: 0.8;
        margin-right: 2%;
        height: 35%;
        margin-top: 2%;
        text-align: center;
        padding: 10px;
        width: 39%;
        border: 2px solid black;
        border-radius: 10px;
        float: left;
    }
    .t1 , .t3{
        margin-left: 2%;
    }

    .backgroundCon{
        height: 370vh;
    }

    #signIn {
        position: absolute ;
        top: 230%;
        left: 6%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        opacity: 0.7;
        width: 80%;
        height: 260px;
    
    }
    
    #signInHedding{
        font-size: 20px;
        font-weight: 700;
    }
    
    #signInContent{
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 0;
        text-align: right;
        font-weight: 450;
    }
    
    #signinButton {
        text-align: center;
        width: 40%;
        margin: 0 auto;
        border: 1px solid black ;
        border-radius: 10px;
        margin-top: 5%;
    }
    
    #signinButton a {
        text-decoration: none ;
        font-size: 16px;
        font-weight: 500;
    }
    
    #shop {
        position: absolute ;
        top: 332%;
        left: 6%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        opacity: 0.7;
        width: 80%;
        height: auto;
    
    }
    
    #shopHedding{
        font-size: 20px;
        font-weight: 700;
    }
    
    #shopContent{
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 0;
        text-align: right;
        font-weight: 450;
    }
    
    #shopButton {
        text-align: center;
        width: 40%;
        margin: 0 auto;
        border: 1px solid black ;
        border-radius: 10px;
        margin-top: 5%;
    }
    
    #shopButton a {
        text-decoration: none ;
        font-size: 16px;
        font-weight: 500;
    }
    
    #feedback {
        position: absolute ;
        top: 280%;
        left: 6%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        opacity: 0.7;
        width: 80%;
        height: auto;
    
    }
    
    #feedbackHedding{
        font-size: 20px;
        font-weight: 700;
    }
    
    #feedbackContent{
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: right;
        font-weight: 450;
    }
    
    #feedbackButton {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        border: 1px solid black ;
        border-radius: 10px;
    }
    
    #feedbackButton a {
        text-decoration: none ;
        font-size: 16px;
        font-weight: 500;
    }


    


}