@media screen and (max-width : 720px) {
    
    body {
        background-color: #d7fddf;
        margin: 0;
        font-family:"poppins" , sans-serif;
        padding-top: 0px;
    }
    
    .NavigationBar {
        position: sticky;
        top: 0;
        width: 100%;
        height: 60px;
        background-color: #00891b ;
        text-align: left;
        z-index: 1;
    }
    
    .NavigationBar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: none;
        background-color: #00891b;
        position: absolute;
        top: 60px;
        right: 0px;
        width: 100% ;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .moreOption {
        display: block;
        float: right;
        margin-top: 5px;
        margin-right: 10px;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }
    
    .NavigationBar ul li {
        display: block ;
        text-align: center;
    }
    
    .NavigationBar ul li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 8px;
        font-size: 19px;
        text-decoration: none;
        
    }
    
    .NavigationBar ul li a:hover {
        background-color: #d7fddf;
        color: black;
    }

    .homeLink {
        float: left;
        margin-top: 5px;
        margin-left: 10px;
        color: white;
        font-size: 18px;
    }

    .NavigationBar ul li.UserProfile {
        display: none;
    
    }
    
    .NavigationBar ul li.SearchBar input[type = "text"]{
        display: none;
    
    }

}