@media screen and (max-width : 720px) {
    
    body {
        background-color: #d7fddf;
        margin: 0;
        font-family:"poppins" , sans-serif;
        padding-top: 0px;
    }
    
    .NavigationBar {
        position: sticky;
        top: 0;
        width: 100%;
        height: 60px;
        background-color: #00891b ;
        text-align: center;
        z-index: 1;
    }

    .logo{
        position: relative;
        display: inline-block;

    }

    .logo img {
        width: 110px;
        height: 64px;
    }

    .UserProfile1 {
        display: block;
        position: absolute;
        top: 7px;
        left: 7px;
        width: 40px;
        height: 40px;
        
    }

    .UserProfile1 img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 3px solid rgb(0, 52, 0) ;
    }
    
    .NavigationBar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: none;
        background-color: #00891b;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100% ;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .moreOption {
        display: block;
        float: right;
        margin-top: -5px;
        margin-right: 14px;
        color: white;
        font-size: 45px;
        cursor: pointer;
    }
    
    .NavigationBar ul li {
        display: block ;
        text-align: center;
    }
    
    .NavigationBar ul li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 8px;
        padding-top: 12px;
        font-size: 19px;
        font-weight: bold;
        text-decoration: none;
        
    }
    
    .NavigationBar ul li a:hover {
        background-color: #d7fddf;
        color: black;
        border-radius: 0% !important ;
    }


    
    .NavigationBar ul li.SearchBar input[type = "text"]{
        display: none;
    
    }

    .NavigationBar ul li.UserProfile {
        display: none;
    }

}