body {
    background-color: rgb(17, 138, 17);
}

.backgroundCon{
    height: 330vh;
}

.card{
    position: fixed;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    background-position: center;  
    background-size: cover;
    z-index: -1;

}

.card img {
    position: absolute;
    width: 110%;
    height: 110%;
    display: block;
    opacity: 0.8;
}



.MissionOverlay {
    position: absolute ;
    top: 70%;
    left: 6%;
    background-color: white;
    width: 40%;
    height: 40%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    box-shadow: 7px 7px 10px black;

}

.Mission{
    font-family: "poppins" , sans-serif;
    font-size: 50px;
    margin-right: 25px;
    color: black;
    font-weight: 700;
    opacity: 1;
    transition-duration: 0.5s;
    text-align: right;
    

}

.content{
    margin-top: 30px;
    font-family: "poppins" , sans-serif;
    font-size: 20px ;
    color: rgb(0, 3, 37);
    font-weight: 450;
    text-align: right;
}

.backgroundCon video {
    position: absolute ;
    top: 20%;
    left: 52%;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 7px 7px 10px black;

}
.firstOverlay{
    position: absolute ;
    top: 20%;
    left: 6%;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 40%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    box-shadow: 7px 7px 10px black;



}

.heddingText { 
    padding-top: 30px;
    font-size: 80px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 900;
    transition-duration: 0.5s;
    

}

.qoute{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
    transition-duration: 0.5s;
    font-weight: 500 ;
}

.targets{
    position: absolute ;
    top: 280%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 95%;
    height: 57%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    margin-top: 70px;
    box-shadow: 7px 7px 10px black;
}

.targetTxt{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.target1,
.target2,
.target3,
.target4{
    text-decoration: underline;
    color: white;
    opacity: 1;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 20px;
}

.target1content,
.target2content,
.target3content,
.target4content{
    margin-top: 30px;
    color: white;
    opacity: 1;

}

.target1content,
.target3content {
    margin-top: 60px;
}

.t1 , .t2 ,.t3 ,.t4 {
    background-color: black;
    opacity: 0.8;
    margin-right: 2%;
    height: 280px;
    margin-top: 2%;
    text-align: center;
    padding: 15px;
    width: 18%;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
    transition-duration: 0.5s;
    box-shadow: 7px 7px 10px black;
}
.t1{
    margin-left: 7%;
}

#signIn {
    position: absolute ;
    top: 70%;
    left: 52%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    width: 40%;
    height: 40%;
    box-shadow: 7px 7px 10px black;

}

#signInHedding{
    font-size: 45px;
    font-weight: 700;
    transition-duration: 0.5s;
    margin-left: 25px;
    text-align: left;
}

#signInContent{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 450;
}

#signinButton {
    text-align: center;
    width: 20%;
    margin: 0 auto;
    border: 1px solid black ;
    border-radius: 10px;
    transition-duration: 0.5s;
}

#signinButton a {
    text-decoration: none ;
    font-size: 16px;
    font-weight: 500;

}

#shop {
    position: absolute ;
    top: 120%;
    left: 6%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    width: 40%;
    height: 60%;
    box-shadow: 7px 7px 10px black;

}

#shopHedding{
    margin-right: 25px;
    font-size: 45px;
    font-weight: 700;
    transition-duration: 0.5s;
    text-align: right;
}

#shopContent{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
    font-weight: 450;
}

#shopButton {
    text-align: center;
    width: 20%;
    margin: 0 auto;
    border: 1px solid black ;
    border-radius: 10px;
    transition-duration: 0.5s;
}

#shopButton a {
    text-decoration: none ;
    font-size: 16px;
    font-weight: 500;
}

#feedback {
    position: absolute ;
    top: 120%;
    left: 52%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    width: 40%;
    height: 60%;
    box-shadow: 7px 7px 10px black;

}

#feedbackHedding{
    margin-left: 25px;
    font-size: 45px;
    font-weight: 700;
    transition-duration: 0.5s;
}

#feedbackContent{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
    font-weight: 450;
}

#feedbackButton {
    text-align: center;
    width: 25%;
    margin: 0 auto;
    border: 1px solid black ;
    border-radius: 10px;
    transition-duration: 0.5s;
}

#feedbackButton a {
    text-decoration: none ;
    font-size: 16px;
    font-weight: 500;
}

.heddingText:hover,
.t1:hover , .t2:hover ,.t3:hover ,.t4:hover,
#feedbackHedding:hover, #feedbackButton:hover , #shopButton:hover,#shopHedding:hover,
#signinButton:hover , #signInHedding:hover , .Mission:hover , .qoute:hover , #wetland:hover , #forest:hover , #urbanArea:hover,
#desert:hover {
    transform: scale(1.1);
}


#wetland {
    position: absolute ;
    overflow: hidden;
    top: 192%;
    left: 3%;
    background-image: url(/HomePage/media/wetLand.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    width: 19%;
    height: 50%;
    box-shadow: 7px 7px 10px black;
    transition-duration: 0.5s;

}

#wetlandHedding{
    background-color: rgba(0, 0, 0, 0.459);
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 700;

}

#wetlandContent{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 450;
}

#wetlandContent a {
    color: rgb(175, 174, 250);
    margin-left: 3px;
    font-size: 14px;
    font-weight: 500;

}

#forest {
    position: absolute ;
    top: 192%;
    left: 27%;
    background-image: url(/HomePage/media/forest.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    width: 19%;
    height: 50%;
    box-shadow: 7px 7px 10px black;
    transition-duration: 0.5s;

}

#forestHedding{
    background-color: rgba(0, 0, 0, 0.459);
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 700;

}

#forestContent{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 450;
}

#forestContent a {
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
    color: rgb(175, 174, 250);
}

#desert {
    position: absolute ;
    top: 192%;
    left: 51%;
    background-image: url(/HomePage/media/desert.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    width: 19%;
    height: 50%;
    box-shadow: 7px 7px 10px black;
    transition-duration: 0.5s;

}

#desertHedding{
    background-color: rgba(0, 0, 0, 0.459);
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 700;
}

#desertContent{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 450;
}

#desertContent a {
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
    color: rgb(175, 174, 250);
}

#urbanArea {
    position: absolute ;
    top: 192%;
    left: 75%;
    background-image: url(/HomePage/media/urban.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    width: 19%;
    height: 50%;
    box-shadow: 7px 7px 10px black;
    transition-duration: 0.5s;

}

#urbanAreaHedding{
    background-color: rgba(0, 0, 0, 0.459);
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 700;
    
}

#urbanAreaContent{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 450;
}

#urbanAreaContent a {
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
    color: rgb(175, 174, 250);
}

