.backgroundCon{
    height: 295vh;
}

.card{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;  
    background-size: cover;
    z-index: -1;
}

.card img {
    position: absolute;
    width: 100%;
    display: block;
}



.MissionOverlay {
    position: absolute ;
    top: 45%;
    left: 52%;
    background-color: white;
    width: 40%;
    height: 40%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    margin-top: 70px;
    border: 1px solid black;

}

.Mission{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 40px;
    color: black;
    text-align: left;
    font-weight: 900;

}

.content{
    margin-top: 30px;
    font-family: "poppins" , sans-serif;
    font-size: 20px ;
    color: rgb(0, 3, 37);
    font-weight: 450;
}

.backgroundCon video {
    position: absolute ;
    top: 45%;
    left: 5%;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin-top: 70px;
    border: 1px solid black;

}
.firstOverlay{
    position: absolute ;
    top: 20%;
    left: 15%;
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 18%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    border: 9px solid rgb(255, 255, 255);


}

.heddingText { 
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;

}

.qoute{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}

.targets{
    position: absolute ;
    top: 140%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 95%;
    height: 57%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.7;
    margin-top: 70px;
    border: 1px solid black;
}

.targetTxt{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.target1,
.target2,
.target3,
.target4{
    text-decoration: underline;
    color: white;
    opacity: 1;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 20px;
}

.target1content,
.target2content,
.target3content,
.target4content{
    margin-top: 30px;
    color: white;
    opacity: 1;

}

.target1content,
.target3content {
    margin-top: 60px;
}

.t1 , .t2 ,.t3 ,.t4 {
    background-color: black;
    opacity: 0.8;
    margin-right: 2%;
    height: 280px;
    margin-top: 2%;
    text-align: center;
    padding: 15px;
    width: 18%;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
}
.t1{
    margin-left: 7%;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


.pageEditorsandContentPages{
    position: absolute ;
    top: 250%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 65%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    opacity: 0.7;
    background-color: black;
    border: 1px solid white;
}

.hedding{
    width: 60%;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    border-radius: 10px;
    height: 13%;
    padding-top: 1.5%;
    opacity: 1;
    margin-bottom: 1.6%;
}

.amiru,
.ashen,
.nadun,
.vihanga{
    margin-bottom: 9%;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-weight: 600;
    font-size: 20px;
}

.container{
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 3%;
    border-radius: 10px;
}

.container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
}

.Amiru , .Ashen ,.Nadun ,.Vihanga {
    background-color: rgb(255, 255, 255);
    margin-right: 5%;
    height: 26%;
    margin-top: 5%;
    text-align: center;
    padding: 15px;
    width: 37%;
    border-radius: 10px;
    float: left;
}
.Amiru , .Nadun{
    margin-left: 8%;
}