.card{
    position: relative;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    opacity: 0.65;   
}

.card img {
    width: 100%;
    display: block;
}

.MissionOverlay {
    position: absolute ;
    top: 380px;
    left: 52%;
    background-color: white;
    width: 40%;
    height: 60%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;

}

.Mission{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 40px;
    color: black;
    text-align: left;
    font-weight: 900;

}

.content{
    margin-top: 30px;
    font-family: "poppins" , sans-serif;
    font-size: 20px ;
    color: rgb(0, 3, 37);
    font-weight: 450;
}

.backgroundCon video {
    position: absolute ;
    top: 380px;
    left: 70px;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;

}
.firstOverlay{
    position: absolute ;
    top: 150px;
    left: 15%;
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 18%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
    border: 9px solid rgb(255, 255, 255);

}

.heddingText { 
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;

}

.qoute{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
