@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    text-align: center;
    font-family: 'poppins', sans-serif;
}

html {
    background-color: #f0f0f0
}

h1,.body-background {
    background-color: rgb(135, 253, 133);
    padding: 10px 0;
}

p {
   font-size: large; 
}

.main {
    width: 50%;
    align-items: center;
    margin: 0 auto;
}

.Top p {
    font-weight:600;
}

a {
    text-decoration: none;
    font-size: large;
}

