@media screen and (max-width : 720px) {
    input[type="text"],
    input[type="email"],
    textarea {
        width: 320px;
    }

    .radioContainer label img[satisfied="1"] {
        margin-left: 35px;
    }
    

    .radioContainer label img[satisfied="3"] {
        margin-right: 35px;
    }

    button {
        display: inline-block;
        padding: 12px 22px;
        background-color: #00891b;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px;
        margin-bottom: 100px;
        margin-top: 50px;
        
    }
    
}