body {
    background-color: #b5f6b9;
    font-family:"poppins" , sans-serif;
    font-weight: 15px;
    margin: 0;
    padding: 0;  
    font-size: 17px;
}


h1 {
    text-align: center;
    margin-bottom: 65px;
}

.FT_Visite{
    margin-top: 50px;
}

.isInformative{
    margin-top: 50px;
    margin-bottom: 50px;
}

.isSatisfied {
    margin-top: 50px;
    margin-bottom: 50px;
}

.isRecommended{
    margin-bottom: 60px;
}

.getUpdates{
    margin-bottom: 60px;
}

#Comments{
    margin-bottom: 50px;
}

.FT_Visite label ,
.isInformative label,
.isRecommended label {
    display: inline-block;
    margin-right: 25px;
}

form {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block ;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #e1fcdf;
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    display: inline-block;
    padding: 12px 22px;
    background-color: #00891b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin-left: 435px;
    margin-bottom: 100px;
    margin-top: 50px;
    
}

.clear{
    margin-left: 10px;
}

button:hover{
    background-color:  #3a994d;
}

button:disabled {
    background-color: #80ca85;
    cursor: not-allowed;
}

.radioContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.radioContainer label img {
    border: 2px solid rgb(7, 188, 13);
    display: block;
    cursor: pointer;
    border-radius: 50%;
   
}

.radioContainer label img[satisfied="1"] {
    width: 50px;
    height: auto;
    padding: 5px;
    background-color: white;
}

.radioContainer label img[satisfied="2"] {
    width: 57px;
    height: auto;
    
}

.radioContainer label img[satisfied="3"] {
    width: 43px;
    height: auto;
    padding: 7px;
    background-color: white;
}

.radioContainer input[type="radio"] {
    display: none;
}

.UserProfile {
    display: none;
}