@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'poppins', sans-serif;
}

h1{
    color: rgb(0, 0, 0);  
    font-size: 75px;
}

body {
    background-color: #f4f4f4
    
}

header {
    padding: 1px 0;
    align-items: center;
    text-align: center;
}

.content {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.content h2 {
    background-color: rgb(41, 146, 51);
    color: white;
    padding: 10px 0;
    text-align: center;
    margin: 0 20px;
}

.content p, .content h3, .content a{
    padding: 0 100px;
}

#img-1 {
    width: 50%;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    display: block;
    
}